<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AIS Sender</title>
    </head>
    <body>
        <form method="POST" action="/">
            <label for="ip-address">IP Address:</label><br />
            <input type="text" id="ip-address" name="ip-address" /><br /><br />
            <input type="submit" name="btn" value="시작" />
            <input type="submit" name="btn" value="멈춤" />
        </form>
    </body>
</html>
